.Header-section {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 70px;
  opacity: 1;
}
.test-logo {
  width: 211px;
  height: 48px;
}
.Navigation-menu {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.Navigation-menu ul {
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.Navigation-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  padding: 11px 16px;
  border-radius: 41px;
  gap: 6px;
}
.patients {
  background-color: #01f0d0;
}
.Navigation-menu img {
  width: 16px;
  height: 17px;
}
.doctors-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.doctors-section img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.doctor-and-menu-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.doctor-name-profile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}
.doc-profile {
  font-weight: 400;
}
.settings-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.settings-menu.icon {
  width: 19px;
  height: 20px;
}
