.Homepage-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100dvh;
}
.icon {
  width: 19px;
  height: 20px;
}
.patient-details {
  display: flex;
  flex-direction: column;
}
.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 28px;
}
.searchbar p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  color: var(--font-color);
  font-style: normal;
}
.patient-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 367px;
  height: 100%;
  gap: 32px;
  overflow-y: auto;
  padding: 0px 20px;
}
.patient-list::-webkit-scrollbar-track {
  background: transparent;
}
.active {
  background: #d8fcf7;
}

.patient-image-name-age {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 20px;
}
.patient-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  gap: 12px;
}
.patient-name {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  color: var(--font-color);
  font-style: normal;
}
.patient-age {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  color: var(--font-color);
  font-style: normal;
}
.patient-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.diagnosis-history-card {
  background: #f6f2ff;
  padding: 20px;
  border-radius: 16px;
  height: 350px;
}

.chart-wrapper {
  height: 260px;
}
.patient-profile {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  padding: 0px 20px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  gap: 24px;
}
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 16px;
}
.profile-img-name h2 {
  font-size: 24px;
  color: var(--font-color);
  font-weight: 700;
  margin: 0;
}
.profile-img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.patient-about {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  gap: 24px;
}
.info-section {
  display: flex;
  flex-direction: row;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  color: var(--font-color);
  width: 100%;
}
.info-property {
  font-weight: 700;
}
.show-all {
  background-color: #01f0d0;
  border: none;
  border-radius: 41px;
  padding: 11px 40px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  color: var(--font-color);
  font-style: normal;
  cursor: pointer;
}
.each-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lab-results {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.download-icon {
  height: 20px;
  width: 20px;
}
.screen-alert {
  display: none;
}

@media screen and (max-width: 768px) {
  .screen-alert {
    display: block;
  }
  .Homepage-section {
    display: none;
  }
  .Header-section {
    display: none;
  }
}
