@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

root {
  --font-color: #072635;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
body {
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 18px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
  padding: 0;
}
